<% @page_title = t('.title') %>
<% @meta_description = t('.description') %>

<div class="slide">
  <div class="row centered">

    <h2 id="opensource"><%= t('home.whowe.intro.title')%></h2>

    <%= t('home.whowe.intro.description_html', story: story_path) %>
  </div>

</div>
<div class="slide yellow">
  <div class="row centered">
    <h2><%= t('.development_area') %></h2>
    <div id="development" class="fake_anchor"></div>

    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/ivica.jpeg", width: 150 %>
      </div>
      <div>
        <SCRIPT TYPE="text/javascript"> emailE=('ivicadevelopermarinkovic@gmail.com');document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')</SCRIPT>
       
      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Ivica Marinkovic</h3>
        <h4><%= t('.ivica_mainkovic.title') %></h4>
        <%= t('.ivica_mainkovic.content_html', age: age(Date.new(1986, 8, 19))) %>
      </div>
    </div>
  </div>
</div>

<div class="slide red">
  <div class="row centered">
    <h2><%= t('.development_area') %></h2>
    <div id="development" class="fake_anchor"></div>

    <div class="large-3  columns">
      <div class="image_volontario">
        <%= image_tag "volunteers/alperen.jpeg", width: 150 %>
      </div>
      <div>
        <SCRIPT TYPE="text/javascript"> emailE=('alperenaksoydev@gmail.com');document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')</SCRIPT>
       
      </div>
    </div>
    <div class="large-9 columns">
      <div class="descrizione_volontario">
        <h3>Alperen Aksoy</h3>
        <h4><%= t('.alperen_aksoy.title') %></h4>
        <%= t('.alperen_aksoy.content_html', age: age(Date.new(1986, 8, 19))) %>
      </div>
    </div>
  </div>
</div>

